/bin/
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/271888129.index
/.metadata/.plugins
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata
/.metadata
